In [3]:
#CALLING DATASET

import pandas as pd

In [4]:
df=pd.read_excel(r"C:\Users\91739\Downloads\Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [5]:
#REMOVING DUPLICATES
df.drop_duplicates()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [10]:
df["Last_Name"] = df["Last_Name"].str.strip("./_")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [11]:

df['Phone_Number'] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]','',regex=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,Na,N/a,N/a,Yes
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N

In [21]:
# convering Phone_Numbervalues from float to string
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: str(x))

# inserting '-' between the phone numbers
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])
df = df.drop(columns = "Phone_Number")
df

,CustomerID,First_Name,Last_Name,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,"123 Shire Lane, Shire",Y,N
1,1002,Abed,Nadir,93 West Main Street,N,Y
2,1003,Walter,White,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,123 Dragons Road,Y,N
5,1006,Ron,Swanson,768 City Parkway,Y,Y
6,1007,Jeff,Winger,1209 South Street,N,N
7,1008,Sherlock,Holmes,98 Clue Drive,N,N
8,1009,Gandalf,NaN,123 Middle Earth,Y,NaN
9,1010,Peter,Parker,"25th Main Street, New York",Y,N
10,1011,Samwise,Gamgee,"612 Shire Lane, Shire",Y,N
11,1012,Harry,Potter,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,2039 Main Street,Y,N
13,1014,Leslie,Knope,343 City Parkway,Y,N
14,1015,Toby,Flenderson,214 HR Avenue,N,N
15,1016,Ron,Weasley,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,"121 Paper Avenue, Pennsylvania",Y,N
17,1018,Clark,Kent,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,Y
19,1020,Anakin,Skywalker,"910 Tatooine Road, Tatooine",Y,N
20,1020,Anakin,Skywalker,"910 Tatooine Road, Tatooine",Y,N

In [22]:
# normalizing Paying Customer values
df['Paying Customer'] = df['Paying Customer'].str.replace('Yes','Y')
df['Paying Customer'] = df['Paying Customer'].str.replace('No','N')

# normalizing Do_Not_Contact values
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Yes','Y')
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('No','N')

df

,CustomerID,First_Name,Last_Name,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,"123 Shire Lane, Shire",Y,N
1,1002,Abed,Nadir,93 West Main Street,N,Y
2,1003,Walter,White,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,123 Dragons Road,Y,N
5,1006,Ron,Swanson,768 City Parkway,Y,Y
6,1007,Jeff,Winger,1209 South Street,N,N
7,1008,Sherlock,Holmes,98 Clue Drive,N,N
8,1009,Gandalf,NaN,123 Middle Earth,Y,NaN
9,1010,Peter,Parker,"25th Main Street, New York",Y,N
10,1011,Samwise,Gamgee,"612 Shire Lane, Shire",Y,N
11,1012,Harry,Potter,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,2039 Main Street,Y,N
13,1014,Leslie,Knope,343 City Parkway,Y,N
14,1015,Toby,Flenderson,214 HR Avenue,N,N
15,1016,Ron,Weasley,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,"121 Paper Avenue, Pennsylvania",Y,N
17,1018,Clark,Kent,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,Y
19,1020,Anakin,Skywalker,"910 Tatooine Road, Tatooine",Y,N
20,1020,Anakin,Skywalker,"910 Tatooine Road, Tatooine",Y,N

In [24]:
#numerical encoding
df['Paying Customer'] = df['Paying Customer'].str.replace('Y', '1')
df['Paying Customer'] = df['Paying Customer'].str.replace('N', '0')

df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Y', '1')
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('N', '0')
df

,CustomerID,First_Name,Last_Name,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,"123 Shire Lane, Shire",1,0
1,1002,Abed,Nadir,93 West Main Street,0,1
2,1003,Walter,White,298 Drugs Driveway,0,NaN
3,1004,Dwight,Schrute,"980 Paper Avenue, Pennsylvania, 18503",1,1
4,1005,Jon,Snow,123 Dragons Road,1,0
5,1006,Ron,Swanson,768 City Parkway,1,1
6,1007,Jeff,Winger,1209 South Street,0,0
7,1008,Sherlock,Holmes,98 Clue Drive,0,0
8,1009,Gandalf,NaN,123 Middle Earth,1,NaN
9,1010,Peter,Parker,"25th Main Street, New York",1,0
10,1011,Samwise,Gamgee,"612 Shire Lane, Shire",1,0
11,1012,Harry,Potter,2394 Hogwarts Avenue,1,NaN
12,1013,Don,Draper,2039 Main Street,1,0
13,1014,Leslie,Knope,343 City Parkway,1,0
14,1015,Toby,Flenderson,214 HR Avenue,0,0
15,1016,Ron,Weasley,2395 Hogwarts Avenue,0,0
16,1017,Michael,Scott,"121 Paper Avenue, Pennsylvania",1,0
17,1018,Clark,Kent,3498 Super Lane,1,NaN
18,1019,Creed,Braton,N/a,0/a,1
19,1020,Anakin,Skywalker,"910 Tatooine Road, Tatooine",1,0
20,1020,Anakin,Skywalker,"910 Tatooine Road, Tatooine",1,0

In [25]:
#filling Null values
df = df.fillna('')
df

,CustomerID,First_Name,Last_Name,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,"123 Shire Lane, Shire",1,0
1,1002,Abed,Nadir,93 West Main Street,0,1
2,1003,Walter,White,298 Drugs Driveway,0,
3,1004,Dwight,Schrute,"980 Paper Avenue, Pennsylvania, 18503",1,1
4,1005,Jon,Snow,123 Dragons Road,1,0
5,1006,Ron,Swanson,768 City Parkway,1,1
6,1007,Jeff,Winger,1209 South Street,0,0
7,1008,Sherlock,Holmes,98 Clue Drive,0,0
8,1009,Gandalf,,123 Middle Earth,1,
9,1010,Peter,Parker,"25th Main Street, New York",1,0
10,1011,Samwise,Gamgee,"612 Shire Lane, Shire",1,0
11,1012,Harry,Potter,2394 Hogwarts Avenue,1,
12,1013,Don,Draper,2039 Main Street,1,0
13,1014,Leslie,Knope,343 City Parkway,1,0
14,1015,Toby,Flenderson,214 HR Avenue,0,0
15,1016,Ron,Weasley,2395 Hogwarts Avenue,0,0
16,1017,Michael,Scott,"121 Paper Avenue, Pennsylvania",1,0
17,1018,Clark,Kent,3498 Super Lane,1,
18,1019,Creed,Braton,N/a,0/a,1
19,1020,Anakin,Skywalker,"910 Tatooine Road, Tatooine",1,0
20,1020,Anakin,Skywalker,"910 Tatooine Road, Tatooine",1,0

In [55]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv(r"C:\Users\91739\Downloads\employee.csv")
df

    ID     Name  Age  Salary
0    1    Alice   28   48000
1    2      Bob   34   52000
2    3  Charlie   25   50000
3    4    David   45   53000
4    5      Eva   30   49000
5    6    Frank   29   51000
6    7    Grace   31   49500
7    8   Hannah   27   48500
8    9      Ian   33   51500
9   10     Jane   26   50500
10  11     Kate   32   49800
11  12     Liam   29   52000
12  13      Mia   35   51000
13  14     Noah   28   47000
14  15    Oscar   40  150000